.home{
    display: flex;
    flex-direction: row;
}

.contenedor-espacios{
    width: 25%;
    margin: 0 0 0 10px;
}

.titulo-espacio{
    font-family: 'Niramit-SemiBold';
    font-size: 1.5em;
}

.espacio{
    background-color: #CB76A5;
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 15px;
    margin: 0 0 5px 0;
    font-family: 'Niramit-SemiBold';
}

.listado-equipos{
    display: flex;
    flex-direction: column;
}

.titulo-tableros{
    font-family: 'Niramit-Bold';
    font-size: 1.7em;
    margin: 20px 0 0 0;
}

.contenedor-tableros-personal{
    display: flex;
    flex-direction: row;
}

.tablero-tareas-personal{
    display: flex;
    align-items: end;
    background-color: blueviolet;
    height: 200px;
    width: 300px;
    margin: 10px;
    border-radius: 15px;
}

.titulo-tablero-personal{
    background-color: #1E1E1E;
    color: white;
    padding: 20px;
    width: 100%;
    margin: 0;
    border-radius: 0 0 15px 15px;
    font-family: 'Niramit-SemiBold';
    font-size: 1.1em;
}