.root-incio{
    background-color: #FFDFD6;
}

.inicio{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contenedor-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kodchasan-Bold';
    h1{
        font-size: 4em;
    }
    img{
        margin-top: -20px;
    }
}

.contenedor-iniciar-sesion{
    background-color: #E3A5C7;
    padding: 15px 50px 50px 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px #dadada;
    h2{
        text-align: center;
    };
    p{
        text-align: center;
    };
}

.form-inicio{
    display: flex;
    flex-direction: column;
    input{
        font-size: 1.5em;
        border: none;
        border-radius: 10px;
    };
    label{
        margin: 10px 0 5px 0;
    }
    button{
        margin: 15px 0 0 0;
        height: 3em;
        border: none;
        border-radius: 10px;
        color: white;
        background-color: #292929;
        cursor: pointer;
    }
}

#iniciogoogle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFE7F4;
    border: none;
    width: 100%;
    border-radius: 10px;
    height: 3em;
    cursor: pointer;
    img{
        width: 2em;
        margin-right: 10px;
    }
}

.presentacion-inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}