.root-modal-alta-tarea{
    display: flex;
    justify-content: center;
}

.modal-alta-tarea{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
    width: 80vh;
    height: 85vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
    border: 5px solid #CB76A5;
    border-radius: 20px;
}

.form-alta-tarea{
    display: flex;
    flex-direction: column;
}

.form-alta-tarea label{
    margin: 10px 0 0 0;
    font-size: 20px;
    font-family: 'Niramit-SemiBold';
}

.form-alta-tarea input{
    font-size: 1em;
    font-family: 'Niramit-Regular';
}

.form-alta-tarea textarea{
    font-size: 1em;
    font-family: 'Niramit-Regular';
}

.seleccion-dificultad{
    display: flex;
    flex-direction: row;
}

.seleccion-dificultad div{
    margin: 0 5px 0 0;
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-alta-tarea{
    background-color: #E3A5C7;
    border: none;
    margin: 10% 5% 0 5%;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Niramit-SemiBold';
    font-size: 1em;
    cursor: pointer;
}

.btn-buscar-miembro{
    background-color: #CB76A5;
    color: white;
    margin: 0 0 0 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contenedor-miembros-a-invitar{
    display: flex;
    flex-direction: row;
    max-width: 300px; 
    overflow-x: auto; 
}

.contenedor-miembros-a-invitar p{
    margin: 5px 15px 0 0;
    white-space: nowrap;
    max-width: 100%;      
}

.contenedor-miembros-a-invitar button{
    border: none;
    border-radius: 5px;
    background-color: #CB76A5;
    color: white;
    cursor: pointer;
}

.btn-cancelar-alta-tarea{
    background-color: #000000;
    color: white;
    border: none;
    margin: 10% 5% 0 5%;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Niramit-SemiBold';
    font-size: 1em;
    cursor: pointer;
}

.contenedor-btn-alta-tarea{
    display: flex;
    flex-direction: row;
    justify-content: center;
}