.root-modal-alta-tablero{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25vh 0 0 75vh;
    width: 80vh;
    height: 40vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
    border: 5px solid #CB76A5;
    border-radius: 20px;
}

.root-modal-alta-tablero::backdrop{
    backdrop-filter: blur(10px);
}

.modal-alta-tablero{
    background: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 10; /* Asegura que el contenido esté por encima del fondo */
    pointer-events: auto;
}



.form-alta-tablero{
    display: flex;
    flex-direction: column;
}

.form-alta-tablero label{
    margin: 10px 0 0 0;
    font-size: 20px;
    font-family: 'Niramit-SemiBold';
}

.form-alta-tablero input{
    font-size: 1em;
    font-family: 'Niramit-Regular';
}

.btn-alta-tablero{
    background-color: #E3A5C7;
    border: none;
    margin: 10% 5% 0 5%;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Niramit-SemiBold';
    font-size: 1em;
    cursor: pointer;
}

.btn-cancelar-alta-tablero{
    background-color: #000000;
    color: white;
    border: none;
    margin: 10% 5% 0 5%;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Niramit-SemiBold';
    font-size: 1em;
    cursor: pointer;
}

.contenedor-btn-alta-tablero{
    display: flex;
    flex-direction: row;
    justify-content: center;
}