.root-navegacion{
    background-color: #FFE7F4;
}

.navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px 0 15px;
}

.nav-titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Kodchasan-Bold';
}

.icon-marca{
    width: 40px;
    height: 40px;
    margin: 0 0 0 10px
};


.iconos .icon-notificacion{
    width: 30px;
    height: 30px;
    background-color: aquamarine;
    border: 3px solid white;
    margin: 0 10em 0 0;
    cursor: pointer;
}

.notificacion{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50px;
    background-color: #FFB6D1;
    border-radius: 50%;
    color: white;
}