
.titulo-tableros{
    display: flex;
    align-items: center;
    font-family: 'Niramit-Bold';
    font-size: 1.7em;
    margin: 20px 0 0 0;
}

.contenedor-tableros{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tablero-tareas{
    display: flex;
    align-items: end;
    background-color: blueviolet;
    height: 200px;
    width: 300px;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.titulo-tablero{
    background-color: #1E1E1E;
    color: white;
    padding: 20px;
    width: 100%;
    margin: 0;
    border-radius: 0 0 15px 15px;
    font-family: 'Niramit-SemiBold';
    font-size: 1.1em;
}

.btn-crear-tablero{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Niramit-Bold';
    background-color: #1E1E1E;
    color: white;
    margin: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}